*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: fantasy; 
    font-weight: normal;
    font-size: 3rem;
}

:root {
    --gradiente: linear-gradient(
        to top,
        blue,
        gray
    )
}

html , body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: black;
}

section {
    
}

section::after {
    content: '';
    height: 15px;
    width: 100%;
    display: block;
    background-image:var(--gradiente);
    border-radius: 10px 10px 10px 10px;
}

h1 {
    padding: 10px;
    color: white;
    background-image: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
